html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
*,
::after,
::before {
	box-sizing: inherit;
}
.grid-area {
	pointer-events: none;
	transform-style: preserve-3d;
}
body::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
