.hidden.svelte-1hr8jmg.svelte-1hr8jmg {
	visibility: hidden;
}
a.svelte-1hr8jmg.svelte-1hr8jmg,
button.svelte-1hr8jmg.svelte-1hr8jmg {
	width: 54px;
	height: 15px;
	background: 0 0;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 6px;
	padding: 0;
	margin: 8px;
}
a.svelte-1hr8jmg.svelte-1hr8jmg:focus,
button.svelte-1hr8jmg.svelte-1hr8jmg:focus {
	box-shadow: 0 0 0 1px #a25c24;
	outline: 0;
}
span.svelte-1hr8jmg.svelte-1hr8jmg {
	overflow: hidden;
	height: 1px;
	width: 1px;
	position: absolute;
}
svg.svelte-1hr8jmg.svelte-1hr8jmg {
	outline: 0;
	width: 100%;
	height: 100%;
}
svg.svelte-1hr8jmg polygon.svelte-1hr8jmg,
svg.svelte-1hr8jmg rect.svelte-1hr8jmg {
	transition: 0.3s ease-in-out;
}
svg.svelte-1hr8jmg:hover #box.svelte-1hr8jmg {
	fill: #fefefe;
}
.minimize.svelte-1hr8jmg:hover #upper.svelte-1hr8jmg {
	fill: #151515;
	transform: translate(0, 2px);
}
.minimize.svelte-1hr8jmg:hover #lower.svelte-1hr8jmg {
	fill: #151515;
	transform: translate(0, -2px);
}
.subpage.svelte-1hr8jmg:hover #upper polygon.svelte-1hr8jmg,
.subpage.svelte-1hr8jmg:hover #upper rect.svelte-1hr8jmg {
	fill: #151515;
	transform: translate(5px, 0);
}
.subpage.svelte-1hr8jmg:hover #lower polygon.svelte-1hr8jmg,
.subpage.svelte-1hr8jmg:hover #lower rect.svelte-1hr8jmg {
	fill: #151515;
	transform: translate(-5px, 0);
}
.next.svelte-1hr8jmg:hover #arrow polygon.svelte-1hr8jmg {
	fill: #151515;
	transform: translate(5px, 0);
}
.next.svelte-1hr8jmg:hover #arrow rect.svelte-1hr8jmg {
	fill: #151515;
	width: 31px;
	transform: translate(-5px, 0);
}
.previous.svelte-1hr8jmg:hover #arrow rect.svelte-1hr8jmg {
	fill: #151515;
	transform: translate(-5px, 0);
	width: 31px;
}
.previous.svelte-1hr8jmg:hover #arrow polygon.svelte-1hr8jmg {
	fill: #151515;
	transform: translate(-5px, 0);
}
.container.svelte-a4ujr5 {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	width: 266px;
	height: 273px;
	transform: translateZ(0) scale(1);
}
.animation-wrap.svelte-a4ujr5 {
	width: 266px;
	height: 273px;
	transition: all 0.2s ease;
	background-color: #c96161;
	color: #aa4545;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-size: 220px;
	line-height: 200px;
	font-weight: 400;
	font-family: sans-serif;
}
.animation-wrap.svelte-a4ujr5:hover {
	background-color: #aa4545;
	color: #c96161;
}
.animate.svelte-a4ujr5 {
	position: absolute;
	text-align: center;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
	transform: translate(0, 0) rotateX(0) rotateY(0) rotateZ(0);
}
.layer1-english.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer1-english;
}
.layer2-english.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer2-english;
}
.layer3-english.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer3-english;
}
.layer4-english.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer4-english;
}
.layer5-english.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer5-english;
}
.layerX-english.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layerX-english;
}
@keyframes svelte-a4ujr5-layer1-english {
	0% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
	20% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(-90deg);
	}
	100% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(-90deg);
	}
}
@keyframes svelte-a4ujr5-layer2-english {
	0% {
		transform: translate(0, -133px) rotateX(90deg) rotateZ(-180deg);
	}
	20% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
	40% {
		transform: translate(-133px, 0) rotateY(-90deg) rotateZ(-180deg);
	}
	100% {
		transform: translate(-133px, 0) rotateY(-90deg) rotateZ(-180deg);
	}
}
@keyframes svelte-a4ujr5-layer3-english {
	0% {
		transform: translate(133px, 0) rotateX(-90deg) rotateY(-90deg) rotateZ(0);
	}
	20% {
		transform: translate(133px, 0) rotateX(-90deg) rotateY(-90deg) rotateZ(0);
	}
	40% {
		transform: translate(0, 0) rotateX(0) rotateY(0) rotateZ(0);
	}
	60% {
		transform: translate(0, -133px) rotateX(90deg) rotateY(0) rotateZ(-90deg);
	}
	100% {
		transform: translate(0, -133px) rotateX(90deg) rotateY(0) rotateZ(-90deg);
	}
}
@keyframes svelte-a4ujr5-layerX-english {
	0% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(180deg);
	}
	40% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(180deg);
	}
	60% {
		transform: translate(0, 0) rotateX(0) rotateY(0) rotateZ(0);
	}
	80% {
		transform: translate(133px, 0) rotateX(0) rotateY(90deg) rotateZ(180deg);
	}
	100% {
		transform: translate(133px, 0) rotateX(0) rotateY(90deg) rotateZ(180deg);
	}
}
@keyframes svelte-a4ujr5-layer4-english {
	0% {
		transform: translate(-133px, 0) rotateY(90deg) rotateZ(-90deg);
	}
	60% {
		transform: translate(-133px, 0) rotateY(90deg) rotateZ(-90deg);
	}
	80% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
	100% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(-90deg);
	}
}
@keyframes svelte-a4ujr5-layer5-english {
	0% {
		transform: translate(0, -133px) rotateX(90deg) rotateZ(-180deg);
	}
	80% {
		transform: translate(0, -133px) rotateX(90deg) rotateZ(-180deg);
	}
	100% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
}
.layer1-japanese.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer1-japanese;
}
.layer2-japanese.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer2-japanese;
}
.layer3-japanese.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer3-japanese;
}
.layer4-japanese.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer4-japanese;
}
.layer5-japanese.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layer5-japanese;
}
.layerX-japanese.svelte-a4ujr5 {
	animation-name: svelte-a4ujr5-layerX-japanese;
}
@keyframes svelte-a4ujr5-layer1-japanese {
	0% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
	20% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(-90deg);
	}
	100% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(-90deg);
	}
}
@keyframes svelte-a4ujr5-layer2-japanese {
	0% {
		transform: translate(0, -133px) rotateX(90deg) rotateZ(-180deg);
	}
	20% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
	40% {
		transform: translate(-133px, 0) rotateY(-90deg) rotateZ(-180deg);
	}
	100% {
		transform: translate(-133px, 0) rotateY(-90deg) rotateZ(-180deg);
	}
}
@keyframes svelte-a4ujr5-layer3-japanese {
	0% {
		transform: translate(133px, 0) rotateX(-90deg) rotateY(-90deg) rotateZ(0);
	}
	20% {
		transform: translate(133px, 0) rotateX(-90deg) rotateY(-90deg) rotateZ(0);
	}
	40% {
		transform: translate(0, 0) rotateX(0) rotateY(0) rotateZ(0);
	}
	60% {
		transform: translate(0, -133px) rotateX(90deg) rotateY(0) rotateZ(-90deg);
	}
	100% {
		transform: translate(0, -133px) rotateX(90deg) rotateY(0) rotateZ(-90deg);
	}
}
@keyframes svelte-a4ujr5-layerX-japanese {
	0% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(180deg);
	}
	40% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(180deg);
	}
	60% {
		transform: translate(0, 0) rotateX(0) rotateY(0) rotateZ(0);
	}
	80% {
		transform: translate(133px, 0) rotateX(0) rotateY(90deg) rotateZ(180deg);
	}
	100% {
		transform: translate(133px, 0) rotateX(0) rotateY(90deg) rotateZ(180deg);
	}
}
@keyframes svelte-a4ujr5-layer4-japanese {
	0% {
		transform: translate(-133px, 0) rotateY(90deg) rotateZ(-90deg);
	}
	60% {
		transform: translate(-133px, 0) rotateY(90deg) rotateZ(-90deg);
	}
	80% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
	100% {
		transform: translate(0, 133px) rotateX(-90deg) rotateZ(-90deg);
	}
}
@keyframes svelte-a4ujr5-layer5-japanese {
	0% {
		transform: translate(0, -133px) rotateX(90deg) rotateZ(-180deg);
	}
	80% {
		transform: translate(0, -133px) rotateX(90deg) rotateZ(-180deg);
	}
	100% {
		transform: translate(0, 0) rotateX(0) rotateZ(0);
	}
}
form.svelte-id9qzk.svelte-id9qzk {
	height: 279px;
}
input.svelte-id9qzk.svelte-id9qzk {
	font-size: 16px;
	width: 376px;
	height: 41px;
	padding-left: 24px;
	padding-top: 12px;
	padding-bottom: 14px;
	background-color: #fff;
	color: #5a8bf3;
	border: 1px solid #efefef;
	border-top: none;
}
input.svelte-id9qzk.svelte-id9qzk:focus {
	border-bottom: 1px solid #cddcfb;
	outline: 0;
}
input.svelte-id9qzk.svelte-id9qzk::placeholder {
	color: #cddcfb;
}
.invalid-email.svelte-id9qzk.svelte-id9qzk {
	color: #f35a5a;
	border-bottom: 1px solid #f35a5a;
}
.invalid-email.svelte-id9qzk.svelte-id9qzk::placeholder {
	color: #f35a5a;
}
textarea.svelte-id9qzk.svelte-id9qzk {
	font-size: 16px;
	height: 100%;
	width: 100%;
	padding: 18px;
	padding-left: 24px;
	color: #151515;
	background-color: #efefef;
	border: none;
}
textarea.svelte-id9qzk.svelte-id9qzk::placeholder {
	color: #acacac;
}
textarea.svelte-id9qzk.svelte-id9qzk:focus {
	outline: 0;
}
.container.svelte-id9qzk.svelte-id9qzk {
	height: 279px;
	width: 752px;
	display: flex;
	overflow: hidden;
}
.contact-container.svelte-id9qzk.svelte-id9qzk,
.email-container.svelte-id9qzk.svelte-id9qzk,
.message-container.svelte-id9qzk.svelte-id9qzk {
	overflow: hidden;
}
.inverse-slide.svelte-id9qzk.svelte-id9qzk {
	position: relative;
	left: -376px;
	flex-direction: row-reverse;
}
.email-container.svelte-id9qzk.svelte-id9qzk {
	height: 279px;
	width: 376px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.fixed.svelte-id9qzk.svelte-id9qzk {
	height: 279px;
	width: 376px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.button-container.svelte-id9qzk.svelte-id9qzk {
	width: 100%;
	height: 54px;
	display: flex;
}
.action-button.svelte-id9qzk.svelte-id9qzk {
	height: 54px;
	width: 322px;
	border: none;
	border-top: 1px solid #fff;
	background-color: #c7c7c7;
	font-size: 20px;
	color: #151515;
}
.cancel-button.svelte-id9qzk.svelte-id9qzk {
	height: 54px;
	width: 54px;
	border: none;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	background-color: #c7c7c7;
	font-size: 20px;
}
.disabled.svelte-id9qzk.svelte-id9qzk {
	color: #909090;
}
line.svelte-id9qzk.svelte-id9qzk {
	transition: stroke;
}
.cancel-button.svelte-id9qzk svg.svelte-id9qzk {
	height: 22px;
	width: 22px;
	margin: 16px;
}
.hidden.svelte-id9qzk.svelte-id9qzk {
	visibility: hidden;
}
.message-bubble.svelte-id9qzk.svelte-id9qzk {
	user-select: text;
	color: #fff;
	background-color: #5a8bf3;
	border-radius: 20px;
	margin-left: 10px;
	font-size: 16px;
	line-height: 19.5px;
	overflow: hidden;
}
.message-container.svelte-id9qzk.svelte-id9qzk {
	height: 279px;
	width: 376px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 4px;
}
.message.svelte-id9qzk.svelte-id9qzk {
	padding-left: 10px;
	padding-right: 40px;
	display: flex;
	align-items: center;
}
.long-message.svelte-id9qzk.svelte-id9qzk {
	height: 95px;
	align-items: flex-end;
	overflow: hidden;
}
.contact-container.svelte-id9qzk.svelte-id9qzk {
	height: 279px;
	width: 376px;
	padding: 2px;
}
.contact.svelte-id9qzk.svelte-id9qzk {
	width: 376px;
	height: 76px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	border: none;
	background-color: #efefef;
}
button.svelte-id9qzk.svelte-id9qzk {
	user-select: none;
}
button.svelte-id9qzk.svelte-id9qzk:focus {
	outline: 0;
}
button.svelte-id9qzk.svelte-id9qzk:active {
	background-color: #efefef;
}
img.svelte-id9qzk.svelte-id9qzk {
	border-radius: 50%;
	padding: 0;
	margin: 0;
	height: 54px;
	width: 54px;
}
h1.svelte-id9qzk.svelte-id9qzk {
	max-height: 108px;
	font-size: 54px;
	color: #151515;
	margin-top: 10px;
	margin-bottom: 4px;
	margin-left: 14px;
	overflow: hidden;
}
p.svelte-id9qzk.svelte-id9qzk {
	color: #151515;
	font-size: 20px;
	margin: 0;
	padding: 10px;
}
@media (hover: hover) {
	.cancel-button.svelte-id9qzk:hover svg line.svelte-id9qzk {
		stroke: #151515;
	}
	button.svelte-id9qzk.svelte-id9qzk:hover {
		background-color: #efefef;
	}
	.contact.svelte-id9qzk.svelte-id9qzk:hover {
		background-color: #fff;
	}
}
