.about-subpage-color {
	background-image: linear-gradient(#a25c24, #151515);
}
.container.svelte-1k7q61q {
	background-color: #a25c24;
	position: relative;
	z-index: 1;
}
.image-container.svelte-1k7q61q {
	height: 800px;
	width: 100vw;
	position: sticky;
	top: 0;
	z-index: 0;
	background-size: 100%;
	background-image: url(https://res.cloudinary.com/thdrstnr/image/upload/v1618455027/MortimerBaltus/About/polaroid_jymdbi.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.first-paragraph.svelte-1k7q61q {
	padding: 20px 0 20px 0;
}
p.svelte-1k7q61q {
	color: #151515;
	font-size: clamp(22px, 3.5vw, 44px);
	line-height: clamp(25px, 0.35vw, 50px);
	letter-spacing: -0.28px;
	padding: 15px 10px 0 10px;
}
h2.svelte-1k7q61q {
	color: #151515;
	font-size: 75px;
	letter-spacing: 1.29px;
	line-height: 64.1px;
	transition: transform 0.2s ease-out;
	transform: translateX(
		calc(100vw - var(--width) - ((100vw - var(--width)) * (1 - var(--scroll))))
	);
}
.animation-container.svelte-1k7q61q {
	width: 100vw;
	padding: 90px 10px 50px 10px;
	overflow: hidden;
}
@media only screen and (min-device-width: 768px) {
	.first-paragraph.svelte-1k7q61q {
		padding: 30px 0 30px 0;
	}
	p.svelte-1k7q61q {
		letter-spacing: -0.55px;
		padding: 15px 20px 0 20px;
	}
	h2.svelte-1k7q61q {
		font-size: 150px;
		letter-spacing: 2.57px;
		line-height: 128.3px;
		transform: translateX(
			calc(100vw - var(--largeWidth) - ((100vw - var(--largeWidth)) * (1 - var(--scroll))))
		);
	}
}
