.legal-subpage-color {
	background-image: linear-gradient(#1c6370, #151515);
}
.container.svelte-1502bk8 {
	background: #1c6370;
	min-height: calc(100vh - 331px);
}
section.svelte-1502bk8 {
	transition: background-color 0.4s ease;
}
@media (hover: hover) {
	section.svelte-1502bk8:hover {
		background-color: #151515;
	}
}
.open.svelte-1502bk8 {
	background-color: #151515;
}
h1.svelte-1502bk8 {
	color: #fefefe;
	font-size: 40px;
	line-height: 42px;
	letter-spacing: -0.23px;
	padding: 73px 10px 30px 10px;
}
h2.svelte-1502bk8 {
	color: #fefefe;
	font-size: 24px;
	letter-spacing: -0.55px;
	padding: 15px 10px 15px 10px;
}
p.svelte-1502bk8 {
	color: #fefefe;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.55px;
	padding: 5px 10px 20px 10px;
}
.contact-container.svelte-1502bk8 {
	display: flex;
	flex-flow: row wrap;
	padding: 0 10px 30px 10px;
}
li.svelte-1502bk8 {
	color: #fefefe;
	white-space: nowrap;
	line-height: 24px;
	font-size: 18px;
	letter-spacing: -0.55px;
	list-style: none;
}
ul.svelte-1502bk8 {
	margin-right: auto;
}
li.svelte-1502bk8:first-child,
li.svelte-1502bk8:nth-child(5) {
	padding-bottom: 24px;
}
hr.svelte-1502bk8 {
	color: #fefefe;
}
@media only screen and (min-device-width: 768px) {
	h1.svelte-1502bk8 {
		font-size: clamp(40px, 6.7vw, 96px);
		line-height: 1.05;
		letter-spacing: -0.55px;
		padding: 83px 20px 30px 20px;
	}
	h2.svelte-1502bk8 {
		line-height: 52px;
		padding: 20px 20px 20px 20px;
	}
	p.svelte-1502bk8 {
		padding: 0 20px 50px 20px;
	}
	.contact-container.svelte-1502bk8 {
		padding: 0 20px 80px 20px;
	}
	li.svelte-1502bk8 {
		line-height: 26px;
		font-size: 22px;
	}
	li.svelte-1502bk8:first-child,
	li.svelte-1502bk8:nth-child(5) {
		padding-bottom: 26px;
	}
}
@media only screen and (min-device-width: 1440px) {
	.contact-container.svelte-1502bk8,
	h1.svelte-1502bk8,
	p.svelte-1502bk8 {
		max-width: 1200px;
	}
}
