.privacy-subpage-color {
	background-image: linear-gradient(#fec7a3, #151515);
}
.container.svelte-137c2b6.svelte-137c2b6 {
	background: #fec7a3;
	min-height: calc(100vh - 331px);
}
section.svelte-137c2b6.svelte-137c2b6 {
	transition: background-color 0.4s ease;
	background-color: #fec7a3;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.55px;
}
@media (hover: hover) {
	section.svelte-137c2b6.svelte-137c2b6:hover,
	section.svelte-137c2b6:hover h2.svelte-137c2b6 {
		transition: all 0.4s ease;
		background-color: #151515;
		color: #fefefe;
	}
}
.open.svelte-137c2b6 h2.svelte-137c2b6,
.open.svelte-137c2b6 p.svelte-137c2b6,
.open.svelte-137c2b6.svelte-137c2b6 {
	background-color: #151515;
	color: #fefefe;
}
h2.svelte-137c2b6.svelte-137c2b6 {
	color: #151515;
	font-size: 24px;
	letter-spacing: -0.55px;
	padding: 15px 10px 15px 10px;
}
a.svelte-137c2b6.svelte-137c2b6,
a.svelte-137c2b6.svelte-137c2b6:visited {
	color: #fefefe;
}
.slider.svelte-137c2b6.svelte-137c2b6 {
	padding: 5px 10px 20px 10px;
}
ol.svelte-137c2b6.svelte-137c2b6 {
	margin-left: 10px;
}
li.svelte-137c2b6.svelte-137c2b6 {
	margin-left: 18px;
}
.intro.svelte-137c2b6.svelte-137c2b6 {
	font-size: clamp(22px, 3.5vw, 44px);
	line-height: clamp(25px, 0.35vw, 50px);
	letter-spacing: -0.28px;
	line-height: 1;
	padding: 73px 10px 30px 10px;
}
hr.svelte-137c2b6.svelte-137c2b6 {
	color: #fefefe;
}
@media only screen and (min-device-width: 768px) {
	.slider.svelte-137c2b6.svelte-137c2b6 {
		padding: 0 20px 50px 20px;
	}
	.intro.svelte-137c2b6.svelte-137c2b6 {
		letter-spacing: -0.55px;
		padding: 83px 20px 30px 20px;
	}
	h2.svelte-137c2b6.svelte-137c2b6 {
		line-height: 52px;
		padding: 20px 20px 20px 20px;
	}
}
