html {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
  }
  *, *::before, *::after {
	box-sizing: inherit;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}