html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

.grid-area {
	pointer-events: none;
	transform-style: preserve-3d;
}

p {
	color: #151515;
	font-size: clamp(22px, 3.5vw, 44px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
