html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

.grid-area {
	pointer-events: none;
	transform-style: preserve-3d;
}

p {
	color: #151515;
	font-size: clamp(28px, 3.5vw, 44px);
	line-height: clamp(31px, 3.6vw, 50px);
	letter-spacing: -0.28px;
	padding: clamp(20px, 2.8vw, 30px) 20px;
}

hr {
	border: none;
	height: 1px;
	color: #fefefe;
	background-color: #fefefe;
}

a {
	color: #151515;
}

.outside-link {
	display: block;
	margin-top: 20px;
	margin-left: 4px;
	font-size: 13px;
	line-height: 17.5px;
	letter-spacing: 0.11px;
	text-decoration: none;
	text-align: start;
}

.sticky-image {
	position: sticky;
	top: 0px;
}

.lower-container {
	transform: translateZ(500px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
@media screen and (min-device-width: 768px) {
	p {
		padding: clamp(20px, 2.8vw, 30px) 10px;
	}
}
